:root {
  --black: #000;
  --gray: #1a1d1a;
  --bluegray: #7a8e91;
  --blue: #7fd2d6;
  --blue2: #50b6c1;
  --darkblue: #214152;
  --darkestblue: #192936;
  --white: #c4d3dc;
  --orange: #f48a32;
}

::selection {
  background: #bababa; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #bababa; /* Gecko Browsers */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #1b1b1b;
  color: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 65px;
}

#nav-right {
  float: right;
  width: 40%;
}

#nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}

#nav-right li {
  float: left;
  margin: 20px;
  transition: all 0.3s;
}

#nav-right li a {
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

#nav-right li a:hover {
  background-color: #232323;
  color: var(--blue);
  text-decoration: underline;
  text-decoration-color: var(--orange);
  transition: all 0.3s;
}

header {
  text-align: center;
}

#header-title {
  font-family: "Orbitron", Courier, monospace;
  font-size: 7rem;
  margin: 0;
  padding: 0;
  color: var(--darkblue);
}

.title-white {
  color: var(--white);
}

.title-blue {
  color: var(--darkblue);
}

.title-orange {
  color: var(--orange);
}

.header-sub {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--white);
}

#header-slash {
  color: var(--bluegray);
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.project-title {
  font-family: "Orbitron", Courier, monospace;
}

.card {
  width: 200px;
  height: 300px;
  margin: 30px;
  perspective: 1000px; /* Define the depth of the 3D effect */
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Ensure child elements can be transformed in 3D space */
  transition: transform 0.5s; /* Add a smooth transition when flipping */
}

.card:hover .card-inner {
  transform: rotateX(-180deg); /* Flip the card on hover */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden; /* Hide the backface when not visible */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-wrap: wrap;
}

.card-front {
  background-color: var(--darkestblue);
}

.card-back {
  background-color: var(--blue);
  transform: rotateY(180deg); /* Initially hide the back side */
  color: var(--black);
}
