* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #353535;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353535;
  padding: 0 10%;
  height: 10vh;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
