:root {
  --black: #000;
  --gray: #1a1d1a;
  --bluegray: #7a8e91;
  --blue: #7fd2d6;
  --blue2: #50b6c1;
  --darkblue: #214152;
  --darkestblue: #192936;
  --white: #c4d3dc;
  --orange: #f48a32;
}

::selection {
  background: var(--blue2);
}
::-moz-selection {
  background: var(--blue2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #1b1b1b;
  color: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#nav-right {
  float: right;
}

#nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}

#nav-right li {
  float: left;
  margin: 20px;
  transition: all 0.3s;
}

#nav-right li a {
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

#nav-right li a:hover {
  background-color: #232323;
  color: #3d7694; /* darkblue but lighter, matches the title blue better but no var for it */
  text-decoration: underline;
  text-decoration-color: var(--orange);
  transition: all 0.3s;
}

header {
  text-align: center;
}

#header-title {
  font-family: "Orbitron", Courier, monospace;
  font-size: 7rem;
  margin: 0;
  padding: 0;
  color: var(--darkblue);
}

.title {
  font-family: "Orbitron", Courier, monospace;
  margin: 10px;
}

.title-white,
.white {
  color: var(--white);
}

.text-shadow {
  text-shadow: 1px 1px 1px #000000;
}

.section-main-text {
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  /* text-shadow: 1px 1px 1px #000000; */
}

.title-blue {
  color: var(--darkblue);
}

.title-orange {
  color: var(--orange);
}

.bluegray {
  color: var(--bluegray);
}

.medium {
  font-size: 1.3rem;
}

.medium {
  font-size: 1.3rem;
}

.header-sub {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--white);
}

#header-slash {
  color: var(--bluegray);
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.project-card {
  width: 80vw;
  height: 400px;
  background: rgb(244, 138, 50, 0.7);
  background: linear-gradient(
    162deg,
    rgba(244, 138, 50, 0.7) 0%,
    rgba(33, 65, 82, 0.7) 71%
  );
  border-radius: 5px;
  padding: 20px;
}

/* ABOUT SECTION */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10rem;
}

#about-title {
  font-size: 2.5rem;
  align-self: flex-start;
}

#about-wrapper {
  font-family: "Cairo", sans-serif;
  font-size: 1.3rem;
  color: var(--bluegray);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-radius: 5px;
  width: 80%;
  margin-left: 3rem;
  height: fit-content;
}

.project-img-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 70%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
  filter: grayscale(100%);
}

.card {
  width: 200px;
  height: 300px;
  margin: 30px;
  perspective: 1000px; /* Define the depth of the 3D effect */
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Ensure child elements can be transformed in 3D space */
  transition: transform 0.5s; /* Add a smooth transition when flipping */
}

.card:hover .card-inner {
  transform: rotateX(-180deg); /* Flip the card on hover */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden; /* Hide the backface when not visible */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-wrap: wrap;
}

.card-front {
  background-color: var(--darkestblue);
}

.card-back {
  background-color: var(--blue);
  transform: rotateY(180deg); /* Initially hide the back side */
  color: var(--black);
}

/* Contact Form */
#contact {
  font-family: "Orbitron", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#contact-form {
  width: 400px;
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 5px;
  border: 1px solid var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contact-form label {
  color: #3d7694;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#contact-form-title {
  font-size: 2rem;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  font-family: "Orbitron", Courier, monospace;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #1b1b1b;
  color: var(--white);
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--orange);
  background-color: #232323;
}

#contact-form textarea {
  resize: vertical;
  height: 150px;
}

#contact-form button[type="submit"] {
  font-family: "Orbitron", Courier, monospace;
  font-weight: bold;
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;

  transition: all 0.3s;
}

#contact-form button[type="submit"]:hover {
  filter: brightness(120%);
  color: var(--orange);
}
